<div class="card w-50 float-right m-1">
  {% if page.card-image-url %}
    <img class="card-img-top" src="{{ page.card-image-url }}" alt="{{page.card-image-text }}">
  {% endif %}
  <div class="card-header">
    {{ page.artifact-date | date: "%B %e, %Y" }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ page.artifact-name }}</h5>
    {% if page.library == "centro" %}
      <h6 class="card-subtitle">
        <a href="https://centropr.hunter.cuny.edu/" target="_blank">Centro Center for Puerto Rican Studies</a>
      </h6>
    {% else %}
      <h6 class="card-subtitle">
        <a href="https://guides.nyu.edu/downtown-collection" target="_blank">Downtown Collection at the Fales Library</a>
      </h6>
    {% endif %}
    <p>{{ page.library-collection }}<br>
    Box {{page.box}}, folder {{page.folder}}
    <h6 class="card-subtitle">Tags</h6>
    <p>
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="{{ site.baseurl }}/tags/{{ tag_name }}"><span class="badge badge-secondary">{{ tag_name }}</span></a>&nbsp;
      {% endfor %}
    </p>
  </div>
</div>

