<div class="card-columns">
  {% for artifact in site.artifacts %}
    <div class="card">
      {% if artifact.card-image-url %}
        <a href="{{ site.baseurl }}{{ artifact.url }}">
          <img class="card-img-top" src="{{ artifact.card-image-url }}" alt="{{artifact.card-image-text }}">
        </a>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title"><a href="{{ site.baseurl }}{{ artifact.url }}">{{ artifact.title }}</a></h5>
        {% if artifact.teaser %}
          <p>{{ artifact.teaser }}</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

