<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
    integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
    crossorigin=""></script>
<script>
  const map = L.map("map");
  L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
    subdomains: 'abcd',
    maxZoom: 19
  }).addTo(map);
  const nyu = [40.73046499853991, -73.99250799849149];
  map.setView(nyu, 14);
  let popupContent;
  const places = [];// L.layerGroup();
  {% for node in site.nodes %}
    {% if node.coordinates %}
      popupContent = "<h4><a href='{{ site.baseurl }}{{ node.url }}'>{{ node.name }}</a></h4><ul>";
      {% if node.official-link %}
        popupContent = popupContent + "<li><a href='{{ node.official-link }}'>Official link</a></li>";
      {% endif %}
      {% if node.wikipedia-link %}
        popupContent = popupContent + "<li><a href='{{ node.wikipedia-link }}'>Wikipedia link</a></li>";
      {% endif %}
      popupContent = popupContent + "</ul>";
      var {{ node.slug }} = L.marker([{{ node.coordinates[0] }}, {{ node.coordinates[1] }}], { slug: "{{ node.slug }}", name: "{{ node.title }}" }).bindPopup(popupContent);
      places.push({{ node.slug }});
      {% endif %}
  {% endfor %}
  Layer = L.layerGroup(places).addTo(map);
</script>
