{% include header.html %}
  <article class="node col-md-8">
    <h2>{{ page.name }}</h2>
    <h3>by {{ author.name }}</h3>
    {% if page.coordinates  %}
      <div class="mb-3" style="height: 300px; max-width: auto;" id="map"></div>
    {% elsif node.coordinates %}
      <div class="mb-3" style="height: 300px; max-width: auto;" id="map"></div>
    {% endif %}
    <div class="card w-50 float-right m-1">
      {% if page.card-image-url %}
        <img class="card-img-top" src="{{ page.card-image-url }}" alt="{{page.card-image-text }}">
      {% elsif node.card-image-url %}
        <img class="card-img-top" src="{{ node.card-image-url }}" alt="{{node.card-image-text }}">
      {% endif %}
      <div class="card-body">
        {% if page.card-image-credit %}
        <div class="card-image-credit text-right w-100"><small>{{ page.card-image-credit }}</small></div>
        {% elsif node.card-image-credit %}
        <div class="card-image-credit text-right w-100"><small>{{ node.card-image-credit }}</small></div>
        {% endif %}

        <h5 class="card-title">{{ page.name }}</h5>
        <h6 class="card-subtitle">Artifacts</h6>
        <ul>
        {% for artifact in site.artifacts %}
        {% assign nodeSmash = artifact.nodes | replace: " ", "|" | append: "|" %}
        {% assign nodePipe = page.slug | append: "|" %}
        {% if nodeSmash contains nodePipe %}
        <li><a href="{{ site.baseurl }}/{{ artifact.url }}">{{ artifact.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>

      </div>
    </div>

    {{ content }}
  </article>
{% include footer.html %}
